{% load authenticate_user %}
{% load static %}
<div class="modal-body">

    {% if mensagem_sucesso %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ mensagem_sucesso }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endif %}
    {% if mensagem_erro %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ mensagem_erro }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endif %}

    <form 
        hx-post="{% url 'seguro_veiculo' veiculo.id %}"
        hx-target="#tab-body"
        hx-swap="innerHTML"
        hx-encoding="multipart/form-data"
        enctype="multipart/form-data"  
        class="form-control"
    >
        {% csrf_token %}

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Seguro</label>
                <input type="text" 
                       class="form-control" 
                       name="seguro" 
                       value="{{ seguro.seguro|default:'' }}" 
                       {% if user|has_group:'Gestores' %}required{% else %}disabled{% endif %}>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Nº da apólice</label>
                <input type="number" 
                       class="form-control" 
                       name="num_apolice" 
                       value="{{ seguro.num_apolice|default:'' }}" 
                       {% if user|has_group:'Gestores' %}required{% else %}disabled{% endif %}>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Início da Vigência</label>
                <input type="date" 
                       class="form-control" 
                       name="inicio_vigencia" 
                       value="{{ seguro.inicio_vigencia|date:'Y-m-d\TH:i'|default:'' }}" 
                       {% if user|has_group:'Gestores' %}required{% else %}disabled{% endif %}>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Fim da Vigência</label>
                <input type="date" 
                       class="form-control" 
                       name="final_vigencia" 
                       value="{{ seguro.final_vigencia|date:'Y-m-d\TH:i'|default:'' }}" 
                       {% if user|has_group:'Gestores' %}required{% else %}disabled{% endif %}>
            </div>

            {% if user|has_group:'Gestores' %}
            <div class="col-12 mb-3">
                <label class="form-label">Arquivo da Apólice (PDF, PNG ou JPEG)</label>
                <input 
                    type="file" 
                    name="apolice" 
                    class="form-control"
                    accept=".pdf,.png,.jpg,.jpeg">
                {% if seguro.apolice %}
                    <small class="text-muted mt-1 d-block">
                        Arquivo atual: {{ seguro.apolice.name }}
                    </small>
                {% endif %}
            </div>
            {% endif %}
        </div>

        {% if seguro.apolice %}
        <div class="mb-3">
            <a href="{{ seguro.apolice.url }}" 
               class="btn btn-primary" 
               target="_blank">
                Baixar Arquivo da Apólice
            </a>
        </div>
        {% endif %}

        {% if user|has_group:'Gestores' %}
        <div class="mt-4 mb-3">
            <button type="submit" class="btn btn-primary w-100">Salvar Alterações</button>
        </div>
        {% endif %}

    </form>
</div>