{% load static %}
<div class="modal-body">

    {% if mensagem_sucesso %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ mensagem_sucesso }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endif %}

    <form 
        hx-post="{% url 'salvar_aba_identificacao' veiculo.id %}"
        hx-target="#tab-body"
        hx-swap="innerHTML"
        hx-encoding="multipart/form-data"
        class="form-control"
    >
        {% csrf_token %}

    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Modelo</label>
            <input type="text" class="form-control" value="{{ veiculo.modelo }}" disabled>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Marca</label>
            <input type="text" class="form-control" value="{{ veiculo.marca }}" disabled>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Placa</label>
            <input type="text" class="form-control" value="{{ veiculo.placa }}" disabled>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Ano</label>
            <input type="number" class="form-control" value="{{ veiculo.ano }}" disabled>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Cor</label>
            <input type="text" class="form-control" value="{{ veiculo.cor }}" disabled>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Chassi</label>
            <input type="text" class="form-control" value="{{ veiculo.chassi }}" disabled>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Renavam</label>
            <input type="number" class="form-control" value="{{ veiculo.renavam }}" disabled>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Versão</label>
            <input type="text" class="form-control" value="{{ veiculo.versao }}" disabled>
        </div>
    </div>
    </form>
</div>