{% extends "_base.html" %}
{% block content %}
    <style>
        @media (max-width: 425px) {
            #btnSolicitar {
                margin-top: 12px;
                width: 100%;
            }
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@5.1.3/dist/signature_pad.umd.min.js"></script>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="mb-0 display-5"><b>Solicitar Ativo</b></h1>
            <a class="btn btn-primary px-4" href="{% url 'ativos' %}" title="Voltar para Ativos">
                <i class="bi bi-arrow-left"></i> Voltar
            </a>
        </div>
        <form method="post" class="form-control">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <p>Ao solicitar esse equipamento você está concordando com os 
                    <a href="https://ontheline.trincoll.edu/images/bookdown/sample-local-pdf.pdf" target=_blank>termos de uso</a>.</p>
                <p>Assine abaixo</p>
                <canvas id="signature-canvas" style="border: 1px solid black"></canvas>
                <div>
                    <button id="btnResetarCanvas" class="btn btn-warning">Limpar</button>
                </div>                
            </div>
            <button type='submit' class='btn btn-success' id="btnSolicitar">Solicitar</button>
        </form>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1100;">
      <div id="liveToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
            ✅ Solicitação realizada com sucesso!
          </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

    <script>
        const canvas = document.getElementById("signature-canvas")
        const signaturePad = new SignaturePad(canvas)

        document.getElementById("btnResetarCanvas").addEventListener('click', (e) => {
            e.preventDefault()
            signaturePad.clear()
        })

        document.getElementById("btnSolicitar").addEventListener('click', (e) => {
            if (signaturePad.isEmpty()) {
                e.preventDefault()
                alert('Por favor, forneça uma assinatura.')
            } else {
                const dataURL = signaturePad.toDataURL()
                document.getElementById("id_assinatura").value = dataURL;
            }
        })
        document.addEventListener('DOMContentLoaded', function () {
        {% if messages %}
            {% for message in messages %}
                {% if 'sucesso' in message.tags or message.level >= 25 %}
                    const toastEl = document.getElementById('liveToast');
                    const toast = bootstrap.Toast.getOrCreateInstance(toastEl);
                    toast.show();
                {% endif %}
            {% endfor %}
        {% endif %}
    });
    </script>
{% endblock %}
    
