<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
    <head>
        {% include 'partials/head.html' %}
    </head>

    <body class="d-flex flex-column vh-100">
        <div class="d-flex flex-nowrap flex-grow-1">
            
            {% if user.is_authenticated %}
                {% include 'partials/navbar.html' %}
            {% endif %}
            
            <main class="flex-grow-1 p-4 overflow-auto main-content">
                {% block content %}
                {% endblock content %}
            </main>
        
        </div>
        {% include 'partials/scripts.html' %}
    </body>
</html>