{% extends "_base.html" %}

{% block content %}
  <!-- Modals -->
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    var modalEvento = new bootstrap.Modal(document.getElementById('modal_evento'));
    var modalInsercao = new bootstrap.Modal(document.getElementById('modal_insercao'));
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      themeSystem: 'bootstrap5',
      height: 800,
      locale: 'pt-br',
      initialView: 'dayGridMonth',
      timeZone: 'local',
      nowIndicator: true,
      selectable: true,
      navLinks: false,
      editable: true,
      headerToolbar: {
        left: '',
        center: '',
        right: 'prev,next'
    },
      buttonText: {
        day: 'Hoje',
        month: 'Mês',
        today: 'Hoje',
      },
      eventTimeFormat: {
        hour12: false,
        hour: '2-digit',
        minute: '2-digit'
      },
      events: 'api/eventos',
      dateClick: function(info){
        let dataFormatada = info.dateStr;

        if (dataFormatada.length === 10) {
          dataFormatada += 'T08:00:00';
        } else {
          dataFormatada += dataFormatada.substring(0, 16);
        }
        document.getElementById('dataHoraPartida').value = dataFormatada;
        document.getElementById('dataHoraChegada').value = '';
        modalInsercao.show()
      },
      eventClick: function(info){
        const titulo = info.event.title
        const inicio = info.event.start.toLocaleString()
        const fim = info.event.end ? info.event.end.toLocaleString() : 'Não definida'
        const eventId = info.event.id;
        const veiculo = info.event.extendedProps.veiculo;

        document.getElementById('tituloEvento').innerHTML = titulo
        document.getElementById('inicioEvento').innerHTML = inicio
        document.getElementById('fimEvento').innerHTML = fim
        document.getElementById('carroAtribuido').innerHTML = "Veículo: " + veiculo;

        document.getElementById('btnEditarEvento').onclick = function() {
          htmx.ajax('GET', `{% url 'editar_agendamento' 0 %}`.replace('0', eventId), {
            target: '#modalEdicaoBody',
            swap: 'innerHTML'
          });
        };

        document.getElementById('formRemoverAgendamento').onsubmit = function(e) {
          e.preventDefault();
          htmx.ajax('POST', `{% url 'remover_agendamento' 0 %}`.replace('0', eventId), {
            source: this,
            swap: 'none'
          });
        };

        modalEvento.show()
      },
      eventDrop: function(info) {
        let dados = {
          id: info.event.id,
          start: info.event.start.toISOString(),
          end: info.event.end ? info.event.end.toISOString() : null
        }

        fetch("{% url 'mudar_dia_agendamento' %}", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{csrf_token}}'
          },
          body: JSON.stringify(dados)
        }).then(async function(response) {
          if (!response.ok) {
              const resData = await response.json();
              alert(resData.mensagem || 'Erro ao mudar o dia do evento!');
              info.revert()
            }
          })
          .catch(error => {
            console.error('Erro:', error)
            info.revert()
          })
      }
    });
    calendar.render();

    document.body.addEventListener('atualizarCalendario', function() {
      calendar.refetchEvents();
    });

    document.body.addEventListener('closeModalEdicao', function() {
      var modalEdicaoEl = document.getElementById('modal_edicao');
      var modalEdicao = bootstrap.Modal.getInstance(modalEdicaoEl);
      if (modalEdicao) {
          modalEdicao.hide();
      }
    });

    setInterval(function() {
      calendar.refetchEvents();
    }, 15000);
  });
  </script>
  <style>
    #calendar {
      text-transform: capitalize;
    }
    #calendar a {
      text-decoration: none;
      color: #000;
    }
  </style>
  <div class="container">
    <h2 class="mt-3">Faça o agendamento abaixo</h2>
    <div id="calendar"></div>
  </div>
  
  <!-- Modal do Evento -->
   <div class="modal fade" id="modal_evento">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="tituloEvento"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="text">
              <span id="carroAtribuido"></span>
            </p>
            <p class="text">
              <span id="inicioEvento"></span>
            </p>
            <p class="text">
              <span id="fimEvento"></span>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <!-- Botão Editar -->
            <button type="button" class="btn btn-primary" 
                    id="btnEditarEvento"
                    data-bs-toggle="modal" 
                    data-bs-target="#modal_edicao"
                    data-bs-dismiss="modal">
                Editar
            </button>
            
            <form id="formRemoverAgendamento">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Excluir</button>
            </form>
          </div>
        </div>
      </div>
   </div>

   <!-- Modal de Inserção -->
    <div class="modal fade" id="modal_insercao">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="tituloEvento">Criar nova viagem</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form hx-post="{% url 'agendar' %}" hx-target="#resultadoModal" hx-swap="innerHTML" class="form-control">
              {% csrf_token %}
              <label for="dataHoraPartida" class="form-label">Nome do motorista</label>
              <input type="text" class="form-control" name="motorista" id="motorista">
              <label for="dataHoraPartida" class="form-label">Data e hora de Partida</label>
              <input type="datetime-local" class="form-control" name="dataHoraPartida" id="dataHoraPartida">
              <label for="dataHoraChegada" class="form-label">Data e hora da Volta</label>
              <input type="datetime-local" class="form-control" name="dataHoraChegada" id="dataHoraChegada">
              <label for="destino" class="form-label">Destino</label>
              <input type="text" class="form-control" name="destino" id="destino">
              <div id="resultadoModal" class="mt-3"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-success" type="submit">Agendar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
   </div>

   <!-- Modal de Edição -->
   <div class="modal fade" id="modal_edicao" tabindex="-1" aria-labelledby="modalEdicaoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEdicaoLabel">Editar Viagem</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalEdicaoBody">
          <!-- O formulário de edição será carregado aqui via HTMX -->
          <p>Carregando formulário...</p>
        </div>
        {# Os botões do rodapé do modal são parte do conteúdo carregado via HTMX #}
      </div>
    </div>
   </div>



{% endblock content %}