{% extends '_base.html' %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
<div class="container-fluid">
    <main class="form-signin w-100 m-auto">
    <form method="post" class="login-form mt-4">
        {% csrf_token %}
        <div class="form-floating justify-content-center mb-3">
            <input type="text" id="user" name="username" class="form-control" Placeholder="Usuário" value required autofocus>
        </div>
        <div class="form-floating justify-content-center mb-3">
            <input type="password" id="password" name="password" class="form-control"Placeholder="Senha" value required autofocus>
        </div>
        {% if form.errors %}
            <div style="padding: 15px; 
                        background-color: #c24222;
                        color: #fff;
                        border-radius: 5px;
                        margin-bottom: 15px;">
                Usuário e/ou Senha incorreta!
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary w-100 py-2">Entrar</button>
    </form>
</main>
</div>
{% endblock %}