{% extends '_base.html' %}
{% block content %}
    <div class='container'>
        <h1>Meus itens</h1>
        {% if itens_do_usuario %}
            {% for item in itens_do_usuario %}
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.modelo }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ item.marca }}</h6>
                        <span class="badge text-bg-primary">{{ item.categoria }}</span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3>Você não possui itens.</h3>
        {% endif %}
    </div>
{% endblock %}