{% extends '_base.html' %}

{% block content %}
<div class='container h-100'>
    <h1>TESTE PDF</h1>
    
    {% csrf_token %} 
    
    <iframe id="pdf" style="width: 100%; height: 100%; min-height: 500px;"></iframe>
    <button id="btn-salvar" class='btn btn-success' onclick="salvarPDF()">Salvar Alterações</button>
</div>

<script src="https://unpkg.com/pdf-lib/dist/pdf-lib.min.js"></script>

<script>
    let meuDocumentoPdf;

    createPdf();

    async function createPdf() {
        meuDocumentoPdf = await PDFLib.PDFDocument.create();
        const page = meuDocumentoPdf.addPage([350, 400]);
        page.moveTo(110, 200);
        page.drawText('TESTE!');
        
        const pdfDataUri = await meuDocumentoPdf.saveAsBase64({ dataUri: true });
        document.getElementById('pdf').src = pdfDataUri;
    }

    async function salvarPDF() {
        const pdfBytes = await meuDocumentoPdf.save();
        const blob = new Blob([pdfBytes], { type: "application/pdf" });

        let formData = new FormData();
        formData.append('arquivo_pdf', blob, 'documento_preenchido.pdf');

        let csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        let response = await fetch('/teste_salvar_pdf/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken 
            },
            body: formData
        });

        if (response.ok) {
            alert("PDF salvo com sucesso no sistema!");
            window.location.href = '/testepdf/';
        } else {
            alert("Erro ao salvar o arquivo.");
        }
    }
</script>
{% endblock %}