{% load authenticate_user %}
<div id="wrapper" class="animate mobile-menu">
  <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/#">
        <i class="fa fa-book" aria-hidden="true"></i> Agenda de Carros</a>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav animate side-nav">

      <li class="nav-item">
        <a class="nav-link" href="/#" title="Inicio">
          <i class="fas fa-home"></i> Início
          <i class="fas fa-home shortmenu animate"></i>
        </a>
      </li>

        <li class="nav-item">
          <a class="nav-link" href="/agendamento" title="Inicio">
            <i class="fa fa-calendar"></i>Agenda
            <i class="fa fa-calendar shortmenu animate"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/veiculos" title="Veiculos">
            <i class="fas fa-car"></i> Veículos
            <i class="fas fa-car shortmenu animate"></i>
          </a>
        </li>

      <li class="nav-item">
        <a class="nav-link" href="/viagens" title="Viagens">
          <i class="fa fa-map" aria-hidden="true"></i>Reservas
          <i class="fa fa-map shortmenu animate"></i>
        </a>
      </li>

      {% if user|has_group:'Gestores' %}
      <li class="nav-item">
        <a class="nav-link" href="/historico" title="Historico">
          <i class="fas fa-history"></i> Histórico
          <i class="fas fa-history shortmenu animate"></i>
        </a>
      </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link" href="/ativos" title="Ativos">
          <i class="fa fa-laptop" aria-hidden="true"></i> Ativos
          <i class="fa fa-laptop shortmenu animate"></i>
        </a>
      </li>

      <li class="nav-item sidebar-footer mt-auto">
        <form id="logout-form" action="{% url 'logout' %}" method="post">
          {% csrf_token %}
        </form>
        <a class="nav-link" href="#" onclick="document.getElementById('logout-form').submit()">
          <i class="fas fa-sign-out-alt"></i> Sair
          <i class="fas fa-sign-out-alt shortmenu animate"></i>
        </a>
      </li>
      </ul>
    </div>
  </nav>
</div>
  <!-- Menu Bottom Mobile/Tablet -->
<nav class="navbar fixed-bottom">
  <nav class="bottom-nav">
    <a href="/#" class="bottom-nav__item">
      <i class="fas fa-home"></i>
      <span>Início</span>
    </a>

    {% if user|has_group:'Gestores' %}
    <a href="/veiculos" class="bottom-nav__item">
      <i class="fas fa-car"></i>
      <span>Veículos</span>
    </a>
    {% endif %}

    <a href="/viagens" class="bottom-nav__item">
      <i class="fa fa-map"></i>
      <span>Viagens</span>
    </a>

    {% if user|has_group:'Gestores' %}
      <a href="/historico" class="bottom-nav__item">
        <i class="fas fa-history"></i>
        <span>Histórico</span>
      </a>
    {% endif %}

    <a href="/ativos" class="bottom-nav__item">
      <i class="fa-solid fa-mobile-screen"></i>
      <span>Ativos</span>
    </a>

    <a href="#" class="bottom-nav__item" onclick="document.getElementById('logout-form').submit()">
      <i class="fas fa-sign-out-alt"></i>
      <span>Sair</span>
  </a>
  </nav>
</nav>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>